body {
    background-color: white;
}


p {
    margin-top: 10px;
}


#subtitle {
    font-size: 23px;
}


.caja1 {
    width: 1024px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin: 10px auto;
    text-align: center;
}


h1 {
    font-size: 70px;
}

#primeraletra ::first-letter  {
    font-size: 100px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    line-height: 100px;
    float: left;
}